body {
 body {
    background-image: url(myphoto.jpg);
    background-size: cover;
     background-blend-mode: lighten;
}
}

/* Main title */
.title {
    text-align: center;
    color: blue;
    font-size: 35px;
}

/* Intro paragraph */
.intro {
    color: #ff6600;
    font-size: 16px;
}

/* Subheading */
.subheading {
    font-style: italic;
    color: hsl(247, 100%, 64%);
}

/* Link style */
.link {
    display: inline-block;
    margin-top: 10px;
    color: darkblue;
    text-decoration: none;
    font-weight: bold;
    background-color: transparent;
}
.link:visited{
    color:blueviolet

}

.link:hover {
    color: red;
}

/* Image styling */
.image {
    width: 300px;
    margin-top: 15px;
}

/* Feature heading */
.feature {
    color: green;
    margin-top: 20px;
    text-align: center;
}

/* List styling */
.list {
    margin-top: 10px;
    font-size: 18px;
}
.details{
    color:darkgreen;
    margin-top:20px;
    font-family:'courior' monospace;
    font-weight: bold;
}
.header{
    background-color:hsl(195, 77%, 55%) ;
    padding: 10px;
}
.about{
    background-color: rgba(167, 156, 75, 0.637);
    margin-top: 10px;
padding: 5px;
}
.details-box{
    background-color: hsl(120, 40%, 63%);
    margin-top: 10px;
    padding: 5px;

}
.footer{
    background-color: gray;
    margin-top: 5px;
padding: 10px;
text-align: center;
color: blue;
}
.container {
    display: flex;
    background-color: blueviolet;
    justify-content: center;
    padding: 20px;
}

.nav-list {
    display: flex;       /* This makes the list horizontal */
    gap: 20px;          /* Space between the items */
    list-style: none;   /* Removes the dots */
    padding: 0;
}

.nav-list li {
    background-color: hwb(357 28% 0%);
    color: white;
    padding: 10px 20px;
    
    /* The Double Line Border */
    border: 4px double white; 
    
    /* Sharp Corners */
    border-radius: 0; 
    
    text-align: center;
}